---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Aedan Lombardo</title>
	</head>
	<body>
		<h1 class="font-sans font-bold text-lg text-slate-700 bg-green-400 text-center">Welcome to My Website!</h1>
		<div class="text-justify font-sans text-blue-100">
			<p>
				I'm a data scientist, amateur film photographer and aspiring part-time web developer. 
				I built this site with Astro, Svelte and Tailwind to host some old projects, visualizations and photos.
			</p>
		</div>
	</body>
</html>
